{% extends 'layout.html' %}

{% block content %}

{% load static %}

<header class="row bg-black">
    <div class="col-md-4 d-flex align-items-start">
        <img src="{% static 'portfolio/kisspng.png' %}" alt="" class="img-fluid rounded-circle" style="max-width: 250px;">
    </div>

    <div class="col-md-8 my-auto">
        <h1><strong>Richard Garcia Vizcaino</strong></h1>
        <h3>I am a Python FullStack Developer</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum et ea maiores voluptas beatae voluptatem earum quisquam odit tenetur asperiores. Provident, assumenda rerum architecto laudantium quod autem, ducimus quasi sapiente eos perferendis voluptatum iure a optio nostrum illum iste ex quam deleniti ab vero accusantium at suscipit earum repellat. Hic laboriosam expedita quae rerum. Nihil iusto quae asperiores nisi ex amet facilis sequi ullam, dignissimos quibusdam quis delectus ipsa sint tempore dolorum ipsum beatae pariatur deleniti accusantium praesentium reiciendis illum inventore, quaerat voluptas? Sequi facilis eligendi harum! Distinctio quos, fuga porro debitis iure animi! Vitae ad ipsum quam est quisquam!</p>
        <a href="{% static 'portfolio/CV_RG.pdf' %}" class="btn btn-primary btn-lg rounded-0 my-3">Download CV</a>
    </div>
</header>


<div class="row my-4 text-center">
    <div class="col">
        <h3>My Projects</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit, sed!</p>
    </div>
</div>
    
<div class="row">
    {% for project in projects %}
      <div class="col-md-4 p-4">
        <div class="card bg-black card-project">
            <img src="{{ project.image.url }}" alt="{{ project.title }}" class="img-fluid custom-image">
            <div class="card-body">
            <h2>{{ project.title }}</h2>
            <p>{{ project.description }}</p>
            
            {% if project.url %}
            <a href="{{ project.url }}" class="btn btn-light rounded-0 btn-sm" target="_blank">{{ project.url }}</a>
            {% endif %}
          </div>
        </div>
      </div>
    {% endfor %}
  </div>

{% endblock %}
</div>
